nome = input("Digite o nome do aluno: ")
idade = int(input("Digite a idade: "))
nota = float(input("Digite a nota final: "))
presenca = int(input("Digite a porcentagem de presença: "))

print("\n--- RESULTADO ---")

# Verificando idade
if idade < 12:
    print(nome, "é uma criança.")
elif idade < 18:
    print(nome, "é um adolescente.")
else:
    print(nome, "é um adulto.")

# Verificando situação escolar
if nota >= 7 and presenca >= 75:
    print("Aluno APROVADO!")
elif nota >= 5 and presenca >= 75:
    print("Aluno em RECUPERAÇÃO.")
elif presenca < 75:
    print("Aluno REPROVADO por falta.")
else:
    print("Aluno REPROVADO por nota.")

# Verificando desempenho
if nota == 10:
    print("Desempenho perfeito!")
elif nota >= 8:
    print("Ótimo desempenho!")
elif nota >= 6:
    print("Bom desempenho.")
elif nota >= 4:
    print("Desempenho regular.")
else:
    print("Desempenho ruim.")

